* {
    margin: 0;
    padding: 0;
}

:root {

    /*primary colors*/

    --blue: hsl(246, 80%, 60%);
    --light-orange: hsl(15, 100%, 70%);
    --soft-blue: hsl(195, 74%, 62%);
    --light-red:  hsl(348, 100%, 68%);
    --lime-green:  hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --soft-orange: hsl(43, 84%, 65%);

    /*neutral colors*/

    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue:  hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    background-color: var(--very-dark-blue);
    color: var(--pale-blue);
}

h1 {
    font-weight: 300;
    font-size: 25px;
}

/*top card*/

.personal-card {
    margin: 70px 0px 0px 0px;
}

.jeremy-avatar {
    max-width: 60px;
    max-height: 60px;
    border-radius: 100%;
    border: 3px solid white;
}

.pic-and-name {
    background-color: var(--blue);
    border-radius: 10px;
    position: relative;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
    height: 130px;
}

.personal-bottom {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 30px;
    border-radius: 0px 0px 10px 10px;
}

.daily, .weekly, .monthly {
    margin-top: 12px;
}

/*rest of cards*/

.info-card {
    width: 320px;
    height: 110px;
    background-color: var(--dark-blue);
    border-radius: 10px;
    margin-top: -20px;
}

.title {
    color: white;
}

.title-and-circles {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 25px 20px 5px 20px;
}

.active-circles {
    width: 21px;
    height: 5px;
}

.weekly-info, .daily-info, .monthly-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.daily-time, .weekly-time, .monthly-time {
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.daily-time, .previous-daily, .monthly-time,.previous-monthly {
    display: none;
}

.border-picture {
    position: relative;
    top: -8px;
    margin-left: 227px;
}

.run {
    position: relative;
    top: -2px;
}

.bubbles {
    position: relative;
    top: -15px;
}

.heart {
    position: relative;
    top: -12px;
    margin-left: 235px;
}

.work-border, .play-border, .exercise-border, .social-border, .selfcare-border, .study-border {
    border-radius: 12px 12px 0px 0px;
    position: relative;
    top: 25px;
    left: 0;
    z-index: -1;
    height: 60px;
    width: 320px;
    overflow: hidden;
}

.work-border {
    background-color: var(--light-orange);
}

.play-border {
    background-color: var(--soft-blue);
}

.study-border {
    background-color: var(--light-red);
}

.exercise-border {
    background-color: var(--lime-green);
}

.social-border {
    background-color: var(--violet);
}

.selfcare-border {
    background-color: var(--soft-orange);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

footer {
    text-align: center;
}

@media (min-width: 1440px) {
    body {
        max-width: 1440px;
        margin: auto;
    }
}